<script type="text/javascript">
  $(document).ready(function() {
    showSlides();
  });
</script>

<div class="section-detail">

  <div class="section-detail-photo">
    <!--img src="img/new-ribbon.png" width="112" height="112" alt="New Ribbon" id="ribbon"-->
    <div id="slides">
      <div class="slides_container">
        <div class="slide">
          <%= image_tag "drinks/beer/photo/guinness_1.jpg" %>
          <div class="caption" style="bottom:0">
            <p>Guinness 1</p>
          </div>
        </div>

        <div class="slide">
          <%= image_tag "drinks/beer/photo/guinness_2.jpg" %>
          <div class="caption" style="bottom:0">
            <p>Guinness 2</p>
          </div>
        </div>

        <div class="slide">
          <%= image_tag "drinks/beer/photo/guinness_3.jpg" %>
          <div class="caption" style="bottom:0">
            <p>Guinness 3</p>
          </div>
        </div>

        <div class="slide">
          <%= image_tag "drinks/beer/photo/guinness_4.jpg" %>
          <div class="caption" style="bottom:0">
            <p>Guinness 4</p>
          </div>
        </div>

        <div class="slide">
          <%= image_tag "drinks/beer/photo/guinness_5.jpg" %>
          <div class="caption" style="bottom:0">
            <p>Guinness 5</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section-detail-info">
    <div class="section-detail-info-desc">
      <h2>Guinness</h2>
      <p>A popular Irish dry stout that originated in the brewery of Arthur Guinness (1725-1803) at St. James's Gate, Dublin. Guinness is one of the most successful beer brands worldwide.</p>
      </br>
    </div>
    <div class="section-detail-info-set">
   
    </div>
  </div>
</div>


<div class="section-social">

  <h2>Find it in nearby pubs</h2>
  <h2>Order it</h2>
</div>


<div class="section-gallery">

  <div id="slides_two">
    
    <div class="slides_container">
      <div class="slide">
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/AnchorSteam_logo.png" %>
        </div>
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/BudLight_logo.png" %>
        </div>
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/Budweiser_logo.png" %>
        </div>
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/Guinness_logo.png" %>
        </div>
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/HogHeaven_logo.png" %>
        </div>
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/SamuelSmithImperial_logo.png" %>
        </div>
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/SchneiderWeisse_logo.png" %>
        </div>
      </div>

      <div class="slide">
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/Budweiser_logo.png" %>
        </div>
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/HogHeaven_logo.png" %>
        </div>
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/AnchorSteam_logo.png" %>
        </div>
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/Guinness_logo.png" %>
        </div>
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/SamuelSmithImperial_logo.png" %>
        </div>
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/SchneiderWeisse_logo.png" %>
        </div>
        <div class="section-drink-logos">
          <%= link_to image_tag "drinks/beer/logo/BudLight_logo.png" %>
        </div>
      </div>

    </div>
    <div class="prev"><%= link_to image_tag "arrow-prev.png" %></div>
    <div class="next"><%= link_to image_tag "arrow-next.png" %></div>
  </div>
</div>

