<div class="triangle triangle-yellow"></div>
<div class="question-select-container">
  <div class="question-select-info">
    Most Liked Answer
  </div>
  <div class='question-select-answer'>
    <% if @select.present? %>
      <div class="video-thumb-wrap">
        <span class="video-thumb">
          <%= link_to image_tag(post_poster_url(@select)), @select %>
        </span>
        <span class="video-time"><%= Time.at(@select.length).gmtime.strftime('%-M:%S') %></span>
      </div>
    
      <div class="video-info-wrap" style="margin-top:6px; width:200px;">
        <div class="video-info">
          <div class="video-user-avatar">
            <%= link_to image_tag(user_avatar_url(@select.user)), post_channel_path(@select.user.name) %>
          </div>
          <div class="video-post-info" style="width:160px;">
            <div class="video-post-info-inner">
              <span class="video-user-name"><%= link_to truncate(@select.user.name, :length => 12), post_channel_path(@select.user.name) %></span>
              <span class="video-post-date"><%= time_ago_in_words(@select.created_at) %> ago</span>
            </div>
            <div class="video-theme-group">
              <%= @select.category %>
              <%= post_subject_value(@select) %>
            </div>
          </div>
        </div>
        <div class="video-title" title="" style="width:195px; margin-top:5px; max-height:60px; color:#777; font-weight:bold;">
          <% if @select.category != "Speech" %>@ <% end %><%= @select.title %>
        </div>
        <div class="video-stat">
          <span class="video-view" style="font-size: 11px; color:#888;"><%= number_with_delimiter(@select.views) %> views</span>
          <span class="video-like">
            <%= number_with_delimiter(@select.likes.size) %>
            <%= image_tag "thumb_up.png" %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
