<!DOCTYPE html>
<html>
<head>
  <title>Sling</title>
  <%= stylesheet_link_tag "devise", :media => "all" %>
  
  <%= csrf_meta_tags %>

  <%= render 'layouts/partials/meta-stuff' %>

</head>
<body id="devise-body">

  <% flash.each do |key, value| %>
    <div id="alert">
      <%= content_tag :div, value, :class => "alert flash #{key}" unless value.blank? %>
    </div>
  <% end %>
  
  <%= yield %>


  <%= javascript_include_tag "application" %>
</body>
</html>
