<div id="partners">
  <h3>Sponsored by designer companies</h3>
  <%= link_to image_tag('logos_texture/Burberry.jpg', :alt => 'Burberry'), "http://www.burberry.com", :target => "_blank" %>
  <%= link_to image_tag('logos_texture/Chanel.jpg', :alt => 'Chanel'), "http://www.chanel.com", :target => "_blank" %>
  <%= link_to image_tag('logos_texture/Chloe.jpg', :alt => 'Chloe'), "http://www.chloe.com", :target => "_blank" %>
  <%= link_to image_tag('logos_texture/Coach.jpg', :alt => 'Coach'), "http://www.coach.com", :target => "_blank" %>
  <%= link_to image_tag('logos_texture/Dior.jpg', :alt => 'Dior'), "http://www.dior.com", :target => "_blank" %>
  <%= link_to image_tag('logos_texture/Fendi.jpg', :alt => 'Fendi'), "http://www.fendi.com", :target => "_blank" %>
  <%= link_to image_tag('logos_texture/Gucci.jpg', :alt => 'Gucci'), "http://www.gucci.com", :target => "_blank" %>
  <%= link_to image_tag('logos_texture/Hermes.jpg', :alt => 'Hermes'), "http://www.hermes.com", :target => "_blank" %>
  <%= link_to image_tag('logos_texture/Louis_Vuitton.jpg', :alt => 'Louis_Vuitton'), "http://www.louisvuitton.com", :target => "_blank"  %>
  <%= link_to image_tag('logos_texture/Prada.jpg', :alt => 'Prada'), "http://www.prada.com", :target => "_blank" %>
</div>
