<script type="text/javascript">
  $(document).ready(function(){
    $(".new-evaluation-inputs textarea").maxlength({
      maxCharacters: 500,
      statusClass: "hint",
      statusText: "character left"
    });
    //$(".new-question-inputs textarea").autoResize({}).trigger('change');
  });
</script>

<div class="speech-new-evaluation-pane">
  <div class="speech-new-evaluation-answer">
    <% if @answer.present? %>
    <% answer = @answer %>
    <div class="speech-evaluation-audio-item">
      <div class="speech-answer-user-links">
        <div class="speech-answer-user-avatar">
          <%= image_tag user_avatar_url(answer.user) %>
          <div class="play-stop"><%= link_to image_tag "play.png", :voice => post_voice_url(answer) %></div>
        </div>
        <div class="speech-answer-play-icon">
          <%= image_tag("speech_bubble.png") %>
        </div>
      </div>
      <div class="speech-answer-evaluation-content">
        <div class="speech-answer-front-status">
          <%= link_to answer.user.username, user_profile_url(answer.user) %>
          <span class="speech-answer-date"><%= time_ago_in_words(answer.created_at) %> ago</span>
          <span class="speech-answer-like">
            <%= answer.liked %>
            <%= image_tag "thumb_up.png" %>
          </span>
        </div>
        <div class="speech-question-evaluation-content">
          <span class="speech-question-user-avatar"><%= image_tag user_avatar_url(answer.question.user) %></span>
          <%= link_to answer.question.user.username, user_profile_url(answer.question.user) %>
          <%= answer.question.content %>
        </div>
        <div class="speech-question-front-status">
          <span class="ellipsis" title="<%= answer.question.content %>">...</span>
          <span class="speech-question-info-link"><%= link_to "see all", question_path(answer.question) %></span>
        </div>
      </div>
    </div>
    <% end %>
    <!--%= image_tag user_avatar_url(current_user) =%-->
  </div>
  <div class="new-evaluation-inputs">
    <% if @evaluation.present? %>
      <%= form_for @evaluation, :remote => true do |f| %>
        <p><%= f.label 'Give feedbacks for this speech' %></p>
        <p><%= f.text_area :content %></p>
        <p><%= f.submit 'Evaluate' %></p>
      <% end %>
    <% end %>
  </div>
  <div class="new-evaluation-status">

  </div>
</div>

