<%= render(:partial => 'shared/left') %>

<div id="update_user">

  <h2>Update Avatar</h2>

  <div id="post_user">
    <span class="user_image"><%= image_tag user_avatar_url(@user) %></span>
  </div>

  <%= simple_form_for(@user, :url => {:action => 'update'}, :html => {:multipart => true}) do |f| %>

    <h3>New Avatar Image</h3>
    <div id="avatar_form">
      <p>Select your local avatar image</p>
      <p><%= f.input :avatar, :label => false %></p>
      <p>Picture specification:</p>
      <p>- minimum size: 96x96 pixels </p>
      <p>- format: png jpg or jpeg only</p>
    </div>
    
    <div id="update_avatar">
      <p><%= f.submit 'Update Avatar', :label => false %></p>
    </div>

  <% end %>

</div>

<div id="side_panel">
  <%= render(:partial => 'shared/friend') %>
  <%= render(:partial => 'shared/setting') %>
</div>

