<% if @posts.present? %>

  <% for answer in @posts %>

    <div class="user-main-audio-item">

      <div class="speech-answer-user-links">
        <div class="speech-answer-user-avatar">
          <%= image_tag user_avatar_url(answer.user) %>
          <div class="play-stop"><%= link_to image_tag "play.png", :voice => post_voice_url(answer) %></div>
        </div>
        <div class="speech-answer-play-icon">
          <%= link_to image_tag("speech_bubble.png") %>
        </div>
      </div>
      <div class="speech-answer-front-content">
        <div class="speech-answer-front-status">
          <%= link_to answer.user.username, user_profile_url(answer.user) %>
          <span class="speech-answer-date"><%= time_ago_in_words(answer.created_at) %> ago</span>
          <span class="speech-answer-like">
            <%= answer.liked %>
            <%= image_tag "thumb_up.png" %>
          </span>
        </div>
        <div class="speech-question-front-content">
          <span class="speech-question-user-avatar"><%= image_tag user_avatar_url(answer.question.user) %></span>
          <%= link_to answer.question.user.username, user_profile_url(answer.question.user) %>
          <%= answer.question.content %>
        </div>
        <div class="speech-question-front-status">
          <span class="ellipsis" title="<%= answer.question.content %>">...</span>
          <span class="speech-question-info-link"><%= link_to "see all" %></span>
        </div>
      </div>

    </div>

  <% end %>

<% end %>
