<div id="admin_frame">

<h1>Listing Feedbacks</h1>

<%= form_for @search do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email_contains %>
    <%= f.submit "Search" %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name_contains %>
    <%= f.submit "Search" %>
  </p>

<% end %>

<table class="feedback_list">
  <tr>
    <th><%= sort_link @search, :id %></th>
    <th><%= sort_link @search, :name %></th>
    <th><%= sort_link @search, :email %></th>
    <th><%= sort_link @search, :created_at %></th>
    <th>Feedback Content</th>
  </tr>
  <% @feedbacks.each do |feedback| %>
    <tr>
      <td><%= feedback.id %></td>
      <td><%= feedback.name %></td>
      <td><%= feedback.email %></td>
      <td><%= l feedback.created_at %></td>
      <td><%= feedback.content %></td>
    </tr>
  <% end %>
</table>
</br>

<%= paginate @feedbacks %>

</div>
