<div id="sidebar">
  <div id="app-store">
    <%= link_to image_tag "appstore_button.png" %>
  </div>

  <div id="navigation">
    <div class="nav-button nav-pub" alt="nav-pub"><%= link_to image_tag('pub_icon.png', :alt => "pub") %></div>
    <div class="nav-button nav-drink" alt="nav-drink"><%= link_to image_tag('drink_icon.png', :alt => "drink") %></div>
    <div class="nav-button nav-meet" alt="nav-meet"><%= link_to image_tag('meet_icon.png', :alt => "meet") %></div>
    <div class="nav-button nav-play" alt="nav-play"><%= link_to image_tag('play_icon.png', :alt => "play") %></div>

  </div>



</div>
